
<head>
<title>SkyHigh Hospital | Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-titillium-600.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main subpage">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="index.html"><span>Inicio</span></a></li>
          <li><a href="support.html"><span>Nuestros Hospitales</span></a></li>
          <li><a href="about.html"><span>Quienes Somos</span></a></li>
          <li><a href="blog.html"><span>Noticias</span></a></li>
          <li><a href="contact.html"><span>Contactanos</span></a></li>
        </ul>
      </div>
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="post" action="#">
          <span>
          <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
          </span>
          <input name="button_search" src="images/search.gif" class="button_search" type="image" />
        </form>
      </div>
      <div class="clr"></div>
      <div class="logo">
        <h1><a href="index.html">SkyHigh <span>Hospital</span> <small>Agregando cuidado a su vida</small></a></h1>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="images/slide1.jpg" width="918" height="310" alt="" /> </a> <a href="#"><img src="images/slide2.jpg" width="918" height="310" alt="" /> </a> <a href="#"><img src="images/slide3.jpg" width="918" height="310" alt="" /> </a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>¿Qué es la alopecia y cómo se puede tratar?</span> </h2>
          <div class="clr"></div>
          <p>Publicado por <a href="#">Camilo Zuluaga</a> <span>&nbsp;&bull;&nbsp;</p>
          <p>La pérdida de cabello puede ser una situación normal, sin embargo algunos hombres, mujeres o niños se puede presentar una pérdida masiva de pelo que puede llevar a la calvicie total. Te contamos qué es la alopecia y cómo se puede tratar.</p>
          <p><a href="#"><strong>Commentarios (3)</strong></a> <span>&nbsp;&bull;&nbsp;</span> Abril 17, 2022 <span>&nbsp;&bull;&nbsp;</span> <a href="#"><strong>Edit</strong></a></p>

          <h2><span>Un hombre en Maryland recibe el primer trasplante de corazón de cerdo genéticamente modificado</span> </h2>
          <div class="clr"></div>
          <p>Publicado por <a href="#">Camilo Zuluaga</a> <span>&nbsp;&bull;&nbsp;</p>
            
          <p>Un hombre recibió un trasplante de corazón de cerdo genéticamente modificado en su lucha contra una enfermedad cardíaca terminal. Pero ¿cómo un corazón de cerdo puede ser implantado en un cuerpo humano? En Conclusiones te contamos los detalles de este procedimiento sin precedentes liderado por la Universidad de Medicina de Maryland.</p>
          <p><a href="#"><strong>Commentarios (3)</strong></a> <span>&nbsp;&bull;&nbsp;</span> Abril 17, 2022 <span>&nbsp;&bull;&nbsp;</span> <a href="#"><strong>Edit</strong></a></p>

          <h2><span>Pfizer retira un medicamento contra la hipertensión porque podría aumentar el riesgo de cáncer. Esto es lo que sabemos</span> </h2>
          <div class="clr"></div>
          <p>Publicado por <a href="#">Camilo Zuluaga</a> <span>&nbsp;&bull;&nbsp;</p>
            
          <p>"Las nitrosaminas son comunes en todo lo que consumimos, incluidas las carnes curadas y a la parrilla, los productos lácteos y las verduras. Todo el mundo está expuesto a algún nivel de nitrosaminas. Estas impurezas pueden aumentar el riesgo de cáncer si las personas se exponen a ellas por encima de los niveles aceptables durante largos periodos de tiempo", señaló Pfizer en el comunicado de prensa.

            Las nitrosaminas pueden introducirse involuntariamente cuando se utilizan ciertas reacciones químicas en la producción de medicamentos.
            
            La compañía dijo que no tiene conocimiento de ningún informe de efectos adversos resultantes del uso del medicamento y agregó que los productos tienen un perfil de seguridad establecido durante más de 20 años, según el comunicado.
            
            Los distribuidores y mayoristas deben dejar de usar y distribuir y "poner el producto en cuarentena de inmediato", dice el comunicado.
            
            Pfizer recomendó que los pacientes que toman el medicamento consulten con su médico acerca de las opciones de tratamiento alternativas.
            
            La presión arterial alta es un problema creciente: la cantidad de personas mayores de 30 años con esta afección se ha duplicado en los últimos 30 años, según un estudio de 2021.</p>
          <p><a href="#"><strong>Commentarios (3)</strong></a> <span>&nbsp;&bull;&nbsp;</span> Abril 17, 2022 <span>&nbsp;&bull;&nbsp;</span> <a href="#"><strong>Edit</strong></a></p>

          <h2><span>Hombre recibe un ojo impreso en 3D por primera vez en la historia</span> </h2>
          <div class="clr"></div>
          <p>Publicado por <a href="#">Camilo Zuluaga</a> <span>&nbsp;&bull;&nbsp;</p>
          <p>El Hospital Moorfields Eye de Londres informó que un paciente británico de 47 años recibió este jueves la primera prótesis ocular impresa en 3D. Es un ojo diseñado para tener "una definición más clara y una profundidad real de la pupila". Además, es la primera prótesis ocular totalmente digital creada para un humano.</p>
          <p><a href="#"><strong>Commentarios (3)</strong></a> <span>&nbsp;&bull;&nbsp;</span> Abril 17, 2022 <span>&nbsp;&bull;&nbsp;</span> <a href="#"><strong>Edit</strong></a></p>


          <h2><span>hombre recibe cerebro de animal</span> </h2>
          <div class="clr"></div>
          <p>Publicado por <a href="#">Camilo Zuluaga</a> <span>&nbsp;&bull;&nbsp;</p>
          <p>El Hospital Moorfields Eye de Londres informó que un paciente británico de 47 años recibió este jueves la primera prótesis ocular impresa en 3D. Es un ojo diseñado para tener "una definición más clara y una profundidad real de la pupila". Además, es la primera prótesis ocular totalmente digital creada para un humano.</p>
          <p><a href="#"><strong>Commentarios (3)</strong></a> <span>&nbsp;&bull;&nbsp;</span> Abril 17, 2022 <span>&nbsp;&bull;&nbsp;</span> <a href="#"><strong>Edit</strong></a></p>

          
        </div>
        <div class="article">
          <h2><span>3</span>Respuestas</h2>
          <div class="clr"></div>
          <div class="comment"> <a href="#"><img src="images/userpic.gif" width="40" height="40" alt="" class="userpic" /></a>
            <p><a href="#">Hernesto</a> Dice:<br />
              April 17th, 2022 at 2:17 pm</p>
            <p>Exelente Noticia</p>
          </div>
          <div class="comment"> <a href="#"><img src="images/userpic.gif" width="40" height="40" alt="" class="userpic" /></a>
            <p><a href="#">Andres</a> Dice:<br />
              Abril 16th, 2022 at 3:21 pm</p>
            <p> No me gusta mucho este tipo de informacion me parece irrelevante, encarguense de hacer su trabajo bien</p>
          </div>
          <div class="comment"> <a href="#"><img src="images/userpic.gif" width="40" height="40" alt="" class="userpic" /></a>
            <p><a href="#">Brndon</a> Dice:<br />
              Abril 15th, 2022 at 2:17 pm</p>
            <p>Como me puedo comunicar con el Hospital de Medellin?</p>
          </div>
        </div>
        <div class="article">

            <ol>
              <li>
                <label for="name">Nombre (required)</label>
                <input id="name" name="name" class="text" />
              </li>
              <li>
                <label for="email">Email (required)</label>
                <input id="email" name="email" class="text" />
              </li>
              <li>
                <label for="website">Pagina web</label>
                <input id="website" name="website" class="text" />
              </li>
              <li>
                <label for="message">Tu Mensaje</label>
                <textarea id="message" name="message" rows="8" cols="50"></textarea>
              </li>
              <li>
                <input type="image" name="imageField" id="imageField" src="images/submit.gif" class="send" />
                <div class="clr"></div>
              </li>
            </ol>
          </form>
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Informacion</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#">200+ Medicos en el trabajo</a><br />
              
            <li><a href="#">5000+ Pacientes satisfechos</a><br />
              
            <li><a href="#">500+ Servicios de cama</a><br />
              
            <li><a href="#">30+ Hospital disponibles</a><br />
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Galeria</h2>
        <a href="#"><img src="images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
        <h2><span>Oportunidad de</span> Empleo</h2>
        <p>Consulta con nosotros las vacantes disponibles en nuestra entidad hospitalaria o envianos tu hoja de vida a nuestro correo</p>
        <ul class="fbg_ul">
          <li><a href="#">Auxiliar de enfermería</a></li>
          <li><a href="#">Médico Urgencias</a></li>
          <li><a href="#">Auxiliar de Farmacia </a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contactanos</span> </h2>
        
        <p class="contact_info"> 
          <span>Direccion</span> Cra 32 A nro 30-32, COL<br />
          <span>Telefono:</span> +123-1234-5678<br />
          <span>E-mail:</span> <a href="#">mail@gmail.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    </div>
  </div>
</div>
</body>
</html>
