
<head>
<title>SkyHigh Hospital</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-titillium-600.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="index.html"><span>Inicio</span></a></li>
          <li><a href="support.html"><span>Nuestros Hospitales</span></a></li>
          <li><a href="about.html"><span>Quienes Somos</span></a></li>
          <li><a href="blog.html"><span>Noticias</span></a></li>
          <li><a href="contact.html"><span>Contactanos</span></a></li>
        </ul>
      </div>
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="post" action="#">
          <span>
          <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
          </span>
          <input name="button_search" src="images/search.gif" class="button_search" type="image" />
        </form>
      </div>
      <div class="clr"></div>
      <div class="logo">
        <h1><a href="index.html">SkyHigh <span>Hospital</span> <small>Agregando cuidado a su vida</small></a></h1>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="images/slide1.jpg" width="118" height="110" alt="" /> </a> <a href="#"><img src="images/slide2.jpg" width="918" height="310" alt="" /> </a> <a href="#"><img src="images/slide3.jpg" width="918" height="310" alt="" /> </a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Nuestros </span>Servicios</h2>
          <p class="infopost">Publicado  <span class="date">13 sep 2022</span> Autor: <a href="#">CamiloZuluaga</a> <a href="#" class="com"><span>01</span></a> </p>
          <div class="clr"></div>
          <div class="img"><img src="images/img1.jpg" width="340" height="400" alt="" class="fl" /></div>
          <div class="post_content">

            <h1>---Chequeos Gratuitos---</h1>
            <p>Los centros de salud gratuitos son operados en colaboración con estudiantes de una prestigiosos universidd de medicina de la Ciudad de Manizales: la Universidad de manizales. Los estudiantes son supervisados por médicos superiores del en todo momento. Los servicios de los centros de salud en chequeos gratuitos son solamente para adultos y todos los niños que cuenten con documentacion Colombiana califican para el seguro médico Child Health Plus. Usted puede hacer una cita en cualquiera de nuestras ubicaciones y le ayudaremos a inscribir a su hijo en Child Health Plus. Después de dos visitas a uno de los centros gratuitos, empezaremos hacerle citas en nuestros centros de salud regulares. La entidad hospitalaria aceptaran a todos los pacientes, incluso esos pacientes sin seguro médico. Ofrecemos servicios a costo reducido basado en su ingreso familiar. Usted no será rechazado. </p>
            <p class="spec"><a href="#" class="rm">Leer mas... &raquo;</a></p>

            <h1>----Ambulancia 24/7---</h1>
            <p>Nuestro moderno sistema de Atención Médica Domiciliaria y traslado de pacientes, también conocido como HosPlus Ambulancias PREPAGADA. Dentro de los servicios que prestamos, se encuentran la consulta médica domiciliaria y el traslado en ambulancias, brindando seguridad y tranquilidad con una atención oportuna las 24 horas del dias de los 7 dias de la semana.</p>
            <p class="spec"><a href="#" class="rm">Leer mas... &raquo;</a></p>

            <h1>---Doctores expertos---</h1>
            <div class="img"><img src="images/img4.jpg" width="640" height="288" alt="" class="fl" /></div>
            <br> <br>
            <p class="spec"><a href="#" class="rm">Leer mas... &raquo;</a></p>
<div>
  <p class="color"> Hola</p>
</div>
            <h1>Servicios de cama</h1>
            <p>Son camas destinadas a la atención continuada de pacientes ingresados. Se incluyen como camas las incubadoras fijas y las cunas, excepto aquellas destinadas a la atención de los recién nacidos normales.</p>
            <p class="spec"><a href="#" class="rm">Leer mas... &raquo;</a></p>

            <h1>Cuidado total</h1>
            <p>Para que se fortalezca la atención primaria y logremos el cometido dispuesto por la oms, debemos fomentar la formación de equipos de atención primaria que proporcionen asistencia en casa, estos brindan información, alivio sintomático, soporte emocional y ayuda para mejorar la comunicación. Requerimos de un ejército para atender al grueso de la población, garantizar mayor cobertura y evitar embudos en los que los pacientes tengan que ser atendidos en los terceros niveles. Es preciso documentar la experiencia, a fin de fortalecer y optimizar recursos, talento e infraestructura que beneficie al paciente y su familia. Se trata de acompañar a los pacientes, a sus cuidadores y familias para tener claridad en la información que se les brinda, así como en las opciones y expectativas sobre su padecimiento. Lo anterior hará más sencillo el proceso de enfermedad y la toma de decisiones.</p>
            <p class="spec"><a href="#" class="rm">Leer mas... &raquo;</a></p>

            
          </div>



          <div class="clr"></div>
        </div>
        <div class="article">
          <h2><span>Conoce nuestras</span> Especialidades</h2>
          <p class="infopost">Publicado: <span class="date">16 Abril 2022</span> Por: <a href="#">Camilo Zuluaga</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#"></a>, <a href="#"></a> <a href="#" class="com"><span>02</span></a></p>
          <div class="clr"></div>
          <div class="img"><img src="images/img2.jpg" width="640" height="188" alt="" class="fl" /></div>
          <div class="post_content">
            <p>...</p>
            <p><strong>...</p>
            <p class="spec"><a href="#" class="rm">Leer mas... &raquo;</a></p>
          </div>
          <div class="clr"></div>
        </div>
        <p class="pages"><small>Pagina 1 de 2</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Informacion</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#">200+ Medicos en el trabajo</a><br />
              
            <li><a href="#">5000+ Pacientes satisfechos</a><br />
              
            <li><a href="#">500+ Servicios de cama</a><br />
              
            <li><a href="#">30+ Hospital disponibles</a><br />
              
              
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Gallery</h2>
        <a href="#"><img src="images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
        <h2><span>Oportunidad de</span> Empleo</h2>
        <p>Consulta con nosotros las vacantes disponibles en nuestra entidad hospitalaria o envianos tu hoja de vida a nuestro correo</p>
        <ul class="fbg_ul">
          <li><a href="#">Auxiliar de enfermería</a></li>
          <li><a href="#">Médico Urgencias</a></li>
          <li><a href="#">Auxiliar de Farmacia </a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contactanos</span> </h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>
        <p class="contact_info"> 
          <span>Direccion</span> Cra 32 A nro 30-32, COL<br />
          <span>Telefono:</span> +123-1234-5678<br />
          <span>E-mail:</span> <a href="#">mail@gmail.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
