
<head>
<title>SkyHigh Hospital | Nuestros Hospitales</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-titillium-600.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main subpage">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="index.html"><span>Inicio</span></a></li>
          <li><a href="support.html"><span>Nuestros Hospitales</span></a></li>
          <li><a href="about.html"><span>Quienes Somos</span></a></li>
          <li><a href="blog.html"><span>Noticias</span></a></li>
          <li><a href="contact.html"><span>Contactanos</span></a></li>
        </ul>
      </div>
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="post" action="#">
          <span>
          <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
          </span>
          <input name="button_search" src="images/search.gif" class="button_search" type="image" />
        </form>
      </div>
      <div class="clr"></div>
      <div class="logo">
        <h1><a href="index.html">SkyHigh <span>Hospital</span> <small>Agregando cuidado a su vida</small></a></h1>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="images/slide1.jpg" width="918" height="310" alt="" /> </a> <a href="#"><img src="images/slide2.jpg" width="918" height="310" alt="" /> </a> <a href="#"><img src="images/slide3.jpg" width="918" height="310" alt="" /> </a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Nuestros </span> Nuestros hospitales</h2>
          <div class="clr"></div>
          <p> SkyHigh Hospital es el Grupo Hospitalario privado de referencia en el pais de Colombia, en la Comunidad de Manizales, Pereira, Bogota y Bucaramanga. Desde 2009, los centros HM Hospitales son Universitarios.</p>

          <p>En la actualidad SkyHigh Hospital dispone de 14 hospitales, 2 hospitales materno-infantiles. 7 distribuidos en el pais, 4 en la Comunidad de Bogota, 2 en Manizales y 3 en Bucaramanga.</p>
          
          <p><strong>Consulta aqui tu sede mas cercana</strong></p>
          
          <p>.</p>
          <ul class="sb_menu">
            <li><a href="#"><strong>Sede Manizales</strong></a></li>
            <li><a href="#"><strong>Sede Bogota</strong></a></li>
            <li><a href="#"><strong>Sede Bucaramanga</strong></a></li>
          </ul>
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span></span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Informacion</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#">200+ Medicos en el trabajo</a><br />
              
            <li><a href="#">5000+ Pacientes satisfechos</a><br />
              
            <li><a href="#">500+ Servicios de cama</a><br />
              
            <li><a href="#">30+ Hospital disponibles</a><br />
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Galeria</h2>
        <a href="#"><img src="images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
        <h2><span>Oportunidad de</span> Empleo</h2>
        <p>Consulta con nosotros las vacantes disponibles en nuestra entidad hospitalaria o envianos tu hoja de vida a nuestro correo</p>
        <ul class="fbg_ul">
          <li><a href="#">Auxiliar de enfermería</a></li>
          <li><a href="#">Médico Urgencias</a></li>
          <li><a href="#">Auxiliar de Farmacia </a></li>
          <li><a href="#">Médico Auxiliar</a></li>
          <li><a href="#">Auxiliar de veterinaria </a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contactanos</span> </h2>
        
        <p class="contact_info"> 
          <span>Direccion</span> Cra 32 A nro 30-32, COL<br />
          <span>Telefono:</span> +123-1234-5678<br />
          <span>E-mail:</span> <a href="#">mail@gmail.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">

    </div>
  </div>
</div>
</body>
</html>
